@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


h1 {
    font-family: 'Bungee', cursive;
    text-align: center;
    color: black;
    background-color: rgb(20, 141, 255);
    margin-bottom: 20px;
    font-size: 50px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

h2 {
    font-size: 30px;
    font-family: 'Bungee', cursive;
    text-align: center;
    color: black;
}

h3 {
    font-size: 30px;
    font-family: 'Bungee', cursive;
    text-align: center;
    color: black;
}

h4 {
    font-size: 30px;
    font-family: 'Bungee', cursive;
    text-align: center;
    color: black;
}

h5 {
    font-size: 30px;
    font-family: 'Bungee', cursive;
    text-align: center;
    color: black;
    margin-top: 20px;
}

h6 {
    font-family: 'Bungee', cursive;
    text-align: center;
    color: black;
    background-color: rgb(20, 141, 255);
    margin-bottom: 20px;
    font-size: 30px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
}


#message {
    margin: 50px 50px;
    display: flex;
    width: 400px;
    align-items: center;
    border: 3px solid black;
}

.menu-box {
    background-color: lightblue;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.subscription-plans > div {
    position: relative;
}

.rl-crncy {
    font-size: 20px;
    border: 2px solid black;
    background-color: rgb(20, 141, 255);
    border-radius: 10px;
    margin: 20px;
}

.safety {
    display: flex;
}

.safety > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-section {
    display: flex;   
}

.logo-section > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 600px;
    height: 100%
}

p {
    padding: 30px;
    margin: 50px;
    font-size: 20px;
    border:2px solid black;
    border-radius: 10px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav > a:visited, nav > a:link {    
    margin: 0 15px;    
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
}


nav > a:active, nav > a:hover {    
    margin: 0 15px;    
    color: rgb(20, 141, 255);
    border-bottom: 2px solid rgb(20, 141, 255);
    transition: color 1s, border-bottom 1s;
}

.subscription-plans {
    display: flex;
}


.options{
    height: 300px;
    margin: 40px 10px 0px;
    font-size: 20px;
    border:2px solid black;
    border-radius: 10px;
    background-color:rgb(20, 141, 255);
    width: 100%;
}


.options > a:visited, .options > a:link {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 70%;
    left: 15%;
    text-decoration: none;
    border-radius: 20px;
    color: black;
    background-color: lightskyblue;
    height: 27px;
    transition: background;
    transition-duration: .7s;
}
.options > a:active, .options > a:hover {
    color: purple;
    background-color: black;
}


.options > p {
    border: 0;
    padding: 10 20 40;
    margin: 0;
}

.message{
    width: 100%;
}

@media (max-width: 1000px){

    .logo-section > p {
        margin: 0;
    }
    img {
        width: 80%;
    }
    .logo-section {
      flex-direction: column;
      align-items: center;
      
  }
}

@media (max-width: 1000px){

    #message > p {
        margin: 0;
    }
    .message {
        width: 80%;
    }
    #message {
      flex-direction: column;
      align-items: center;
  }
}


@media (max-width: 1000px){

    .safety > p {
        margin: 0;
    }
    img {
        width: 80%;
    }
    .safety {
      flex-direction: column;
      align-items: center;
    }
    .subscription-plans {
        flex-direction: column;
        align-items: center;
    }
}